---
title: Sobre nosotros
linkTitle: Sobre nosotros
menu:
  main:
    weight: 20

---


{{< blocks/cover title=" Sobre nosotros e Información de contacto" image_anchor="top" height="full" color="orange" >}}
{{< blocks/link-down color="info" >}}
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<h1>Sobre Nelium: Equipo de trabajo y Compromiso</h1>
{{% /blocks/lead %}}


{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-earlybirds" title="Equipo de trabajo" %}}
Contamos con un amplio plantel de expertos técnicos propio, así como de colaboradores especializados, capaces de afrontar con solvencia los desafíos planteados por los diferentes proyectos en los que participamos.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-award" title="Compromiso" %}}
Nelium ha cimentado su reputación a partir de un compromiso que combina la integridad, con la excelencia del trabajo desarrollado, tanto por nuestro equipo humano, como por nuestros socios tecnológicos. Plenamente involucrados en ofrecer el mejor servicio a nuestros clientes, en Nelium no tenemos intereses con terceros que puedan comprometer nuestra independencia.
{{% /blocks/feature %}}

{{< /blocks/section >}}



{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Información de contacto</h1>
</div>
{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="fa fa-building" title="Dirección:" %}}
Nelium S.L.<br>Calle: Dr. Antonio Cortés Lladó Nº 6 Esc. 2 Piso 7 Pta. A<br>Código Postal Code - Ciudad: 41004 - Sevilla<br>Pais: España
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-map" title="Geolocalización:" %}}
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3170.4966974079884!2d-5.9810281!3d37.378084300000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126e9e516a80d1%3A0xd17feeed958502c!2sCalle+Dr.+Antonio+Cort%C3%A9s+Llad%C3%B3%2C+6%2C+41004+Sevilla!5e0!3m2!1ses!2ses!4v1426080807437"></iframe>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-phone-square" title="E-mail y teléfono:" %}}
<a href="mailto:contacto@nelium.net?subject=Solicitud%20de%20contacto%20a%20través%20de%20la%20página%20web%20de%20Nelium">contacto@nelium.net</a>
<br>+34 690 62 82 50
{{% /blocks/feature %}}

{{< /blocks/section >}}
